<div class="position-static">
  <ngb-alert
    type="success"
    *ngIf="!staticAlertClosed"
    (close)="staticAlertClosed = true"
    >Copied to clipboard!</ngb-alert
  >
</div>
<div class="row">
  <label for="inputSearch" class="col-sm-1 col-form-label m-3">Search</label>
  <div class="col-sm-4 m-3">
    <input type="text" class="form-control" id="inputSearch" />
  </div>
</div>
<div class="row">
  <label for="inputDelimiter" class="col-sm-1 col-form-label m-3"
    >Delimiter
  </label>
  <div class="col-sm-1 m-3">
    <input
      type="text"
      class="form-control"
      id="inputDelimiter"
      value=";"
      (input)="onChangeDelimiter($event.target.value)"
    />
  </div>
</div>
<div class="row">
  <div class="col-sm-1 m-3">
    Import All
  </div>
  <div class="col-sm-1 m-3">
    <button
      class="btn btn-light icon-mudlet"
      title="Copy all Mudlet speedwalks aliases to clipboard"
      (click)="onMudletAliasCreationScript()"
    ></button>
    <button
      class="btn btn-light icon-cmud"
      title="Copy all CMUD speedwalks aliases to clipboard"
      (click)="onCmudAliasCreationScript()"
    ></button>
  </div>
</div>

<table class="table table-sm m-3">
  <thead>
    <tr>
      <th scope="col">Directions</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let speedwalk of speedwalks">
      <td>
        <button
          class="btn btn-light"
          title="Copy to clipboard"
          (click)="onCopy(speedwalk.directions)"
        >
          <fa-icon [icon]="faCopy"></fa-icon>
        </button>
        <button
          class="btn btn-light icon-mudlet"
          title="Copy Mudlet Lua alias to clipboard"
          (click)="onCopyMudletAlias(speedwalk)"
        ></button>
        <button
          class="btn btn-light icon-cmud"
          title="Copy CMUD alias to clipboard"
          (click)="onCopyCmudAlias(speedwalk)"
        ></button>
        {{ speedwalk.directions.join(delimiter) }}
      </td>
      <td>
        {{ speedwalk.category }}
      </td>
      <td>
        {{ speedwalk.description }}
      </td>
    </tr>
  </tbody>
</table>
