<form>
  <div class="form-group row">
    <label for="inputSearch" class="col-sm-1 col-form-label m-3">Search</label>
    <div class="col-sm-4 m-3">
      <input type="text" class="form-control" id="inputSearch" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDelimiter" class="col-sm-1 col-form-label m-3"
      >Delimiter</label
    >
    <div class="col-sm-1 m-3">
      <input type="text" class="form-control" id="inputDelimiter" />
    </div>
  </div>
</form>

<table class="table table-sm m-3">
  <thead>
    <tr>
      <th scope="col">Speedwalk</th>
      <th scope="col">Interest</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button class="btn btn-light" tooltip="Copy to clipboard"><fa-icon [icon]="faCopy"></fa-icon></button
          >w|w|ff3|say hidon
      </td>
      <td>
        Secret Hunt
      </td>
      <td>
        Hidon Bone
      </td>
    </tr>
  </tbody>
</table>
