<div class="jumbotron">
  <h1 class="display-4">UOSS App</h1>
  <p class="lead">Currently in development</p>
</div>
<div class="row home-cards">
  <div class="col-sm-4 ">
    <div class="card">
      <img
        src="./assets/mudlet-wp-logo.png"
        class="card-img-top"
        alt="mudlet logo"
      />
      <div class="card-body">
        <h5 class="card-title">We recommend Mudlet</h5>
        <p class="card-text">
          It's free and we offer packages that can be imported into Mudlet.
        </p>
        <a href="https://www.mudlet.org/" class="btn btn-primary">Download</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img
        src="./assets/uossmud-graphic-logo.png"
        class="card-img-top"
        alt="uossm logo"
      />
      <div class="card-body">
        <a href="telnet://uossm.sandwich.net:9000" class="btn btn-primary"
          >Telnet</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <img
        src="./assets/github-logo.png"
        class="card-img-top"
        alt="github logo"
      />
      <div class="card-body">
        <h5 class="card-title">Contribute</h5>
        <a href="https://github.com/jance1499/uoss-app">uoss-app GitHub</a>
      </div>
    </div>
  </div>
</div>
