<table class="table table-bordered table-hover m-3">
    <thead>
        <tr>
            <th scope="col">Area Name</th>
            <th scope="col">Realm</th>
            <th scope="col">MinXP</th>
            <th scope="col">MaxXP</th>
        </tr>
    </thead>
    <tbody *ngFor="let area of areas">
            <tr>
                <td>{{area.Area}}</td>    
                <td>{{area.Realm}}</td>
                <td>{{area.MinXP}}</td>
                <td>{{area.MaxXP}} </td> 
            <tr>   
    </tbody>
</table>
